<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
</head>
<body>
  <div align="center">
    <h1>Student List</h1>

      <div sec:authorize="isAuthenticated()">
          Welcome <b><span sec:authentication="name">Username</span></b> &nbsp;
          <i><span sec:authentication="principal.authorities">Roles</span></i>
      </div>

      <form th:action="@{/logout}" method="post">
          <input type="submit" value="Logout"/>
      </form>

      <div sec:authorize="hasAnyAuthority('ADMIN')">
      <a th:href="@{/new}">Add Student</a>
      </div>
      <div>
          <a th:href="@{/users}">User List</a>
      </div>
      <table border="1" cellpadding="10">
          <thead>
          <tr>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Student City</th>
              <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="student, iterator : ${listStudent}">
              <td th:text="${student.id}"></td>
              <td th:text="${student.name}"></td>
              <td th:text="${student.city}"></td>
              <td>
                  <div sec:authorize="hasAnyAuthority('ADMIN')">
                      <a th:href="@{'/edit/' + ${student.id}}">Edit</a>
                  </div> &nbsp;&nbsp;&nbsp;
                  <div sec:authorize="hasAnyAuthority('ADMIN')">
                      <a th:href="@{'/edit/' + ${student.id}}">Delete</a>
                  </div>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</body>
</html>